@font-face {
	font-family: 'brankicregular';
	src: url('../font/brankic1979-webfont.eot');
	src: url('../font/brankic1979-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/brankic1979-webfont.woff') format('woff'),
	     url('../font/brankic1979-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="mtphr-icon-"],
[class*=" mtphr-icon-"] {
  font-family: 'brankicregular';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
[class^="mtphr-icon-"]:before,
[class*=" mtphr-icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
a [class^="mtphr-icon-"],
a [class*=" mtphr-icon-"] {
  display: inline-block;
}

/* --------------------------------------------------------- */
/* !Icons */
/* --------------------------------------------------------- */

.mtphr-icon-one:before {
  content: "\f000";
}
.mtphr-icon-two:before {
  content: "\f001";
}
.mtphr-icon-three:before {
  content: "\f002";
}
.mtphr-icon-four:before {
  content: "\f003";
}
.mtphr-icon-five:before {
  content: "\f004";
}
.mtphr-icon-six:before {
  content: "\f005";
}
.mtphr-icon-seven:before {
  content: "\f006";
}
.mtphr-icon-eight:before {
  content: "\f007";
}
.mtphr-icon-nine:before {
  content: "\f008";
}
.mtphr-icon-zero:before {
  content: "\f009";
}
.mtphr-icon-one-filled:before {
  content: "\f00a";
}
.mtphr-icon-two-filled:before {
  content: "\f00b";
}
.mtphr-icon-three-filled:before {
  content: "\f00c";
}
.mtphr-icon-four-filled:before {
  content: "\f00d";
}
.mtphr-icon-five-filled:before {
  content: "\f00e";
}
.mtphr-icon-six-filled:before {
  content: "\f00f";
}
.mtphr-icon-seven-filled:before {
  content: "\f010";
}
.mtphr-icon-eight-filled:before {
  content: "\f011";
}
.mtphr-icon-nine-filled:before {
  content: "\f012";
}
.mtphr-icon-zero-filled:before {
  content: "\f013";
}
.mtphr-icon-quote-right:before {
  content: "\f014";
}
.mtphr-icon-quote-left:before {
  content: "\f015";
}
.mtphr-icon-tag:before {
  content: "\f016";
}
.mtphr-icon-tag-2:before {
  content: "\f017";
}
.mtphr-icon-link:before {
  content: "\f018";
}
.mtphr-icon-link-2:before {
  content: "\f019";
}
.mtphr-icon-file-cabinet:before {
  content: "\f01a";
}
.mtphr-icon-file-cabinet-2:before {
  content: "\f01b";
}
.mtphr-icon-calendar:before {
  content: "\f01c";
}
.mtphr-icon-calendar-2:before {
  content: "\f01d";
}
.mtphr-icon-calendar-3:before {
  content: "\f01e";
}
.mtphr-icon-file-plus:before {
  content: "\f01f";
}
.mtphr-icon-file-minus:before {
  content: "\f020";
}
.mtphr-icon-file:before {
  content: "\f021";
}
.mtphr-icon-files:before {
  content: "\f022";
}
.mtphr-icon-iphone:before {
  content: "\f023";
}
.mtphr-icon-ipad:before {
  content: "\f024";
}
.mtphr-icon-browser:before {
  content: "\f025";
}
.mtphr-icon-mac:before {
  content: "\f026";
}
.mtphr-icon-ipad-2:before {
  content: "\f027";
}
.mtphr-icon-tv:before {
  content: "\f028";
}
.mtphr-icon-camera:before {
  content: "\f029";
}
.mtphr-icon-camera-2:before {
  content: "\f02a";
}
.mtphr-icon-camera-3:before {
  content: "\f02b";
}
.mtphr-icon-movie-tape:before {
  content: "\f02c";
}
.mtphr-icon-film:before {
  content: "\f02d";
}
.mtphr-icon-film-2:before {
  content: "\f02e";
}
.mtphr-icon-microphone:before {
  content: "\f02f";
}
.mtphr-icon-microphone-2:before {
  content: "\f030";
}
.mtphr-icon-microphone-3:before {
  content: "\f031";
}
.mtphr-icon-juice:before {
  content: "\f032";
}
.mtphr-icon-takeaway-cup:before {
  content: "\f033";
}
.mtphr-icon-takeaway-cup-2:before {
  content: "\f034";
}
.mtphr-icon-martini:before {
  content: "\f035";
}
.mtphr-icon-tea:before {
  content: "\f036";
}
.mtphr-icon-beer:before {
  content: "\f037";
}
.mtphr-icon-ice-cream:before {
  content: "\f038";
}
.mtphr-icon-muffin:before {
  content: "\f039";
}
.mtphr-icon-inbox:before {
  content: "\f03a";
}
.mtphr-icon-inbox-incoming:before {
  content: "\f03b";
}
.mtphr-icon-inbox-outgoing:before {
  content: "\f03c";
}
.mtphr-icon-inbox-full:before {
  content: "\f03d";
}
.mtphr-icon-check:before {
  content: "\f03e";
}
.mtphr-icon-check-transparent:before {
  content: "\f03f";
}
.mtphr-icon-error:before {
  content: "\f040";
}
.mtphr-icon-error-transparent:before {
  content: "\f041";
}
.mtphr-icon-plus:before {
  content: "\f042";
}
.mtphr-icon-plus-transparent:before {
  content: "\f043";
}
.mtphr-icon-minus:before {
  content: "\f044";
}
.mtphr-icon-minus-transparent:before {
  content: "\f045";
}
.mtphr-icon-alert:before {
  content: "\f046";
}
.mtphr-icon-alert-transparent:before {
  content: "\f047";
}
.mtphr-icon-alert-2:before {
  content: "\f04b";
}
.mtphr-icon-settings:before {
  content: "\f048";
}
.mtphr-icon-settings-2:before {
  content: "\f049";
}
.mtphr-icon-settings-3:before {
	content: "\f04a";
}
.mtphr-icon-medical-case:before {
  content: "\f04c";
}
.mtphr-icon-brief-case:before {
  content: "\f04d";
}
.mtphr-icon-brief-case-2:before {
  content: "\f04e";
}
.mtphr-icon-brief-case-3:before {
  content: "\f04f";
}
.mtphr-icon-polaroid:before {
  content: "\f050";
}
.mtphr-icon-polaroid-2:before {
  content: "\f051";
}
.mtphr-icon-polaroid-3:before {
  content: "\f052";
}
.mtphr-icon-android:before {
  content: "\f053";
}
.mtphr-icon-marvin:before {
  content: "\f054";
}
.mtphr-icon-pacman:before {
  content: "\f055";
}
.mtphr-icon-cassette:before {
  content: "\f056";
}
.mtphr-icon-digital-watch:before {
  content: "\f057";
}
.mtphr-icon-digital-watch-2:before {
  content: "\f058";
}
.mtphr-icon-stop-watch:before {
  content: "\f059";
}
.mtphr-icon-alarm-clock:before {
  content: "\f05a";
}
.mtphr-icon-alarm-clock-2:before {
  content: "\f05b";
}
.mtphr-icon-clock:before {
  content: "\f05c";
}
.mtphr-icon-handset:before {
  content: "\f05d";
}
.mtphr-icon-wallet:before {
  content: "\f05e";
}
.mtphr-icon-check-2:before {
  content: "\f05f";
}
.mtphr-icon-error-2:before {
  content: "\f060";
}
.mtphr-icon-preview:before {
  content: "\f061";
}
.mtphr-icon-map-pin:before {
  content: "\f062";
}
.mtphr-icon-map-pin-2:before {
  content: "\f063";
}
.mtphr-icon-sitemap:before {
  content: "\f064";
}
.mtphr-icon-sitemap-2:before {
  content: "\f065";
}
.mtphr-icon-icloud:before {
  content: "\f066";
}
.mtphr-icon-icloud-up:before {
  content: "\f067";
}
.mtphr-icon-icloud-down:before {
  content: "\f068";
}
.mtphr-icon-pie-chart:before {
  content: "\f069";
}
.mtphr-icon-pie-chart-2:before {
  content: "\f06a";
}
.mtphr-icon-graph-chart:before {
  content: "\f06b";
}
.mtphr-icon-graph-chart-2:before {
  content: "\f06c";
}
.mtphr-icon-graph-chart-3:before {
  content: "\f06d";
}
.mtphr-icon-graph-chart-4:before {
  content: "\f06e";
}
.mtphr-icon-shopping-basket:before {
  content: "\f070";
}
.mtphr-icon-folder:before {
  content: "\f071";
}
.mtphr-icon-playstation:before {
  content: "\f072";
}
.mtphr-icon-bell:before {
  content: "\f073";
}
.mtphr-icon-bell-mute:before {
  content: "\f074";
}
.mtphr-icon-telephone:before {
  content: "\f075";
}
.mtphr-icon-telephone-2:before {
  content: "\f076";
}
.mtphr-icon-picture-frame:before {
  content: "\f077";
}
.mtphr-icon-open-sign:before {
  content: "\f078";
}
.mtphr-icon-sale-sign:before {
  content: "\f079";
}
.mtphr-icon-road-sign:before {
  content: "\f07a";
}
.mtphr-icon-map:before {
  content: "\f07b";
}
.mtphr-icon-trash:before {
  content: "\f07c";
}
.mtphr-icon-vote:before {
  content: "\f07d";
}
.mtphr-icon-graduate:before {
  content: "\f07e";
}
.mtphr-icon-lab:before {
  content: "\f07f";
}
.mtphr-icon-tie:before {
  content: "\f080";
}
.mtphr-icon-rugby-ball:before {
  content: "\f081";
}
.mtphr-icon-billiard-ball:before {
  content: "\f082";
}
.mtphr-icon-bowling-ball:before {
  content: "\f083";
}
.mtphr-icon-bowling-pin:before {
  content: "\f084";
}
.mtphr-icon-tennis-ball:before {
  content: "\f085";
}
.mtphr-icon-soccer-ball:before {
  content: "\f086";
}
.mtphr-icon-3d-glasses:before {
  content: "\f087";
}
.mtphr-icon-microwave:before {
  content: "\f088";
}
.mtphr-icon-refrigerator:before {
  content: "\f089";
}
.mtphr-icon-oven:before {
  content: "\f08a";
}
.mtphr-icon-washing-machine:before {
  content: "\f08b";
}
.mtphr-icon-mouse:before {
  content: "\f08c";
}
.mtphr-icon-smile:before {
  content: "\f08d";
}
.mtphr-icon-smile-2:before {
  content: "\f08e";
}
.mtphr-icon-smile-3:before {
  content: "\f08f";
}
.mtphr-icon-hand:before {
  content: "\f090";
}
.mtphr-icon-satellite:before {
  content: "\f091";
}
.mtphr-icon-satellite-2:before {
  content: "\f092";
}
.mtphr-icon-award-ribbon:before {
  content: "\f093";
}
.mtphr-icon-award-ribbon-2:before {
  content: "\f094";
}
.mtphr-icon-switcher:before {
  content: "\f095";
}
.mtphr-icon-key:before {
  content: "\f096";
}
.mtphr-icon-connect:before {
  content: "\f097";
}
.mtphr-icon-locked:before {
  content: "\f098";
}
.mtphr-icon-unlocked:before {
  content: "\f099";
}
.mtphr-icon-locked-2:before {
  content: "\f09a";
}
.mtphr-icon-unlocked-2:before {
  content: "\f09b";
}
.mtphr-icon-zoom:before {
  content: "\f09c";
}
.mtphr-icon-zoom-in:before {
  content: "\f09d";
}
.mtphr-icon-zoom-out:before {
  content: "\f09e";
}
.mtphr-icon-copy-paste:before {
  content: "\f09f";
}
.mtphr-icon-copy-paste-2:before {
  content: "\f0a0";
}
.mtphr-icon-copy-paste-3:before {
  content: "\f0a1";
}
.mtphr-icon-david-star:before {
  content: "\f0a2";
}
.mtphr-icon-cross:before {
  content: "\f0a3";
}
.mtphr-icon-moon-star:before {
  content: "\f0a4";
}
.mtphr-icon-transformer:before {
  content: "\f0a5";
}
.mtphr-icon-batman:before {
  content: "\f0a6";
}
.mtphr-icon-space-invaders:before {
  content: "\f0a7";
}
.mtphr-icon-skeletor:before {
  content: "\f0a8";
}
.mtphr-icon-lamp:before {
  content: "\f0a9";
}
.mtphr-icon-lamp-2:before {
  content: "\f0aa";
}
.mtphr-icon-umbrella:before {
  content: "\f0ab";
}
.mtphr-icon-street-light:before {
  content: "\f0ac";
}
.mtphr-icon-bomb:before {
  content: "\f0ad";
}
.mtphr-icon-archive:before {
  content: "\f0ae";
}
.mtphr-icon-battery:before {
  content: "\f0af";
}
.mtphr-icon-battery-2:before {
  content: "\f0b0";
}
.mtphr-icon-battery-3:before {
  content: "\f0b1";
}
.mtphr-icon-battery-4:before {
  content: "\f0b2";
}
.mtphr-icon-battery-5:before {
  content: "\f0b3";
}
.mtphr-icon-megaphone:before {
  content: "\f0b4";
}
.mtphr-icon-megaphone-2:before {
  content: "\f0b5";
}
.mtphr-icon-bandaid:before {
  content: "\f0b6";
}
.mtphr-icon-pil:before {
  content: "\f0b7";
}
.mtphr-icon-injection:before {
  content: "\f0b8";
}
.mtphr-icon-thermometer:before {
  content: "\f0b9";
}
.mtphr-icon-light-bulb:before {
  content: "\f0ba";
}
.mtphr-icon-light-bulb-2:before {
  content: "\f0bb";
}
.mtphr-icon-light-bulb-3:before {
  content: "\f0bc";
}
.mtphr-icon-box-closed:before {
  content: "\f0bd";
}
.mtphr-icon-box-open:before {
  content: "\f0be";
}
.mtphr-icon-box-closed-2:before {
  content: "\f0bf";
}
.mtphr-icon-diamond:before {
  content: "\f0c0";
}
.mtphr-icon-bag:before {
  content: "\f0c1";
}
.mtphr-icon-dollar-bag:before {
  content: "\f0c2";
}
.mtphr-icon-view-thumbnail:before {
  content: "\f0c3";
}
.mtphr-icon-view-thumbnail-2:before {
  content: "\f0c4";
}
.mtphr-icon-view-list:before {
  content: "\f0c5";
}
.mtphr-icon-view-list-2:before {
  content: "\f0c6";
}
.mtphr-icon-ruler:before {
  content: "\f0c7";
}
.mtphr-icon-ruler-2:before {
  content: "\f0c8";
}
.mtphr-icon-layout:before {
  content: "\f0c9";
}
.mtphr-icon-layout-2:before {
  content: "\f0ca";
}
.mtphr-icon-layout-3:before {
  content: "\f0cb";
}
.mtphr-icon-layout-4:before {
  content: "\f0cc";
}
.mtphr-icon-layout-5:before {
  content: "\f0cd";
}
.mtphr-icon-layout-6:before {
  content: "\f0ce";
}
.mtphr-icon-layout-7:before {
  content: "\f0cf";
}
.mtphr-icon-layout-8:before {
  content: "\f0d0";
}
.mtphr-icon-layout-9:before {
  content: "\f0d1";
}
.mtphr-icon-layout-10:before {
  content: "\f0d2";
}
.mtphr-icon-layout-11:before {
  content: "\f0d3";
}
.mtphr-icon-layout-12:before {
  content: "\f0d4";
}
.mtphr-icon-layout-13:before {
  content: "\f0d5";
}
.mtphr-icon-layout-14:before {
  content: "\f0d6";
}
.mtphr-icon-tools:before {
  content: "\f0d7";
}
.mtphr-icon-tools-2:before {
  content: "\f0d8";
}
.mtphr-icon-tools-3:before {
  content: "\f0d9";
}
.mtphr-icon-hammer:before {
  content: "\f0da";
}
.mtphr-icon-paint-brush:before {
  content: "\f0db";
}
.mtphr-icon-fountain-pen:before {
  content: "\f0dc";
}
.mtphr-icon-speech-bubble:before {
  content: "\f0dd";
}
.mtphr-icon-speech-bubble-2:before {
  content: "\f0de";
}
.mtphr-icon-speech-bubble-3:before {
  content: "\f0df";
}
.mtphr-icon-speech-bubble-4:before {
  content: "\f0e0";
}
.mtphr-icon-sound:before {
  content: "\f0e1";
}
.mtphr-icon-sound-2:before {
  content: "\f0e2";
}
.mtphr-icon-sound-mute:before {
  content: "\f0e3";
}
.mtphr-icon-equilizer:before {
  content: "\f0e4";
}
.mtphr-icon-expand:before {
  content: "\f0e5";
}
.mtphr-icon-collapse:before {
  content: "\f0e6";
}
.mtphr-icon-stretch:before {
  content: "\f0e7";
}
.mtphr-icon-narrow:before {
  content: "\f0e8";
}
.mtphr-icon-fullscreen:before {
  content: "\f0e9";
}
.mtphr-icon-download:before {
  content: "\f0ea";
}
.mtphr-icon-calculator:before {
  content: "\f0eb";
}
.mtphr-icon-university:before {
  content: "\f0ec";
}
.mtphr-icon-auction:before {
  content: "\f0ed";
}
.mtphr-icon-justice:before {
  content: "\f0ee";
}
.mtphr-icon-graph-chart-increasing:before {
  content: "\f0ef";
}
.mtphr-icon-graph-chart-decreasing:before {
  content: "\f0f0";
}
.mtphr-icon-paper-clip:before {
  content: "\f0f1";
}
.mtphr-icon-hourglass:before {
  content: "\f0f2";
}
.mtphr-icon-abacus:before {
  content: "\f0f3";
}
.mtphr-icon-pencil:before {
  content: "\f0f4";
}
.mtphr-icon-pencil-2:before {
  content: "\f0f5";
}
.mtphr-icon-pin:before {
  content: "\f0f6";
}
.mtphr-icon-pin-2:before {
  content: "\f0f7";
}
.mtphr-icon-price-tag:before {
  content: "\f0f8";
}
.mtphr-icon-create-new:before {
  content: "\f0f9";
}
.mtphr-icon-scissors:before {
  content: "\f0fa";
}
.mtphr-icon-v-card:before {
  content: "\f0fb";
}
.mtphr-icon-v-card-2:before {
  content: "\f0fc";
}
.mtphr-icon-v-card-3:before {
  content: "\f0fd";
}
.mtphr-icon-undo:before {
  content: "\f0fe";
}
.mtphr-icon-refresh:before {
  content: "\f0ff";
}
.mtphr-icon-undo-2:before {
  content: "\f100";
}
.mtphr-icon-reply:before {
  content: "\f101";
}
.mtphr-icon-share:before {
  content: "\f102";
}
.mtphr-icon-shuffle:before {
  content: "\f103";
}
.mtphr-icon-repeat:before {
  content: "\f104";
}
.mtphr-icon-crop:before {
  content: "\f105";
}
.mtphr-icon-anchor-points:before {
  content: "\f106";
}
.mtphr-icon-anchor-points-2:before {
  content: "\f107";
}
.mtphr-icon-anchor-points-3:before {
  content: "\f108";
}
.mtphr-icon-dollar:before {
  content: "\f109";
}
.mtphr-icon-dollars:before {
  content: "\f10a";
}
.mtphr-icon-dollar-coins:before {
  content: "\f10b";
}
.mtphr-icon-piggy:before {
  content: "\f10c";
}
.mtphr-icon-ribbon:before {
  content: "\f10d";
}
.mtphr-icon-book:before {
  content: "\f10e";
}
.mtphr-icon-address-book:before {
  content: "\f10f";
}
.mtphr-icon-address-book-2:before {
  content: "\f110";
}
.mtphr-icon-safe:before {
  content: "\f111";
}
.mtphr-icon-email:before {
  content: "\f112";
}
.mtphr-icon-email-open:before {
  content: "\f113";
}
.mtphr-icon-radioactive:before {
  content: "\f114";
}
.mtphr-icon-music-note:before {
  content: "\f115";
}
.mtphr-icon-presentation:before {
  content: "\f116";
}
.mtphr-icon-female-sign:before {
  content: "\f117";
}
.mtphr-icon-male-sign:before {
  content: "\f118";
}
.mtphr-icon-aids-sign:before {
  content: "\f119";
}
.mtphr-icon-like:before {
  content: "\f11a";
}
.mtphr-icon-info:before {
  content: "\f11b";
}
.mtphr-icon-info-2:before {
  content: "\f11c";
}
.mtphr-icon-piano-keyboard:before {
  content: "\f11d";
}
.mtphr-icon-weather-rain:before {
  content: "\f11e";
}
.mtphr-icon-weather-snow:before {
  content: "\f11f";
}
.mtphr-icon-weather-storm:before {
  content: "\f120";
}
.mtphr-icon-sun:before {
  content: "\f121";
}
.mtphr-icon-moon:before {
  content: "\f122";
}
.mtphr-icon-weather-partly-cloudy:before {
  content: "\f123";
}
.mtphr-icon-weather-cloudy:before {
  content: "\f124";
}
.mtphr-icon-car:before {
  content: "\f125";
}
.mtphr-icon-bycicle:before {
  content: "\f126";
}
.mtphr-icon-truck:before {
  content: "\f127";
}
.mtphr-icon-school-bus:before {
  content: "\f128";
}
.mtphr-icon-vespa:before {
  content: "\f129";
}
.mtphr-icon-plane:before {
  content: "\f12a";
}
.mtphr-icon-plane-2:before {
  content: "\f12b";
}
.mtphr-icon-rocket:before {
  content: "\f12c";
}
.mtphr-icon-open-book:before {
  content: "\f12d";
}
.mtphr-icon-open-book-2:before {
  content: "\f12e";
}
.mtphr-icon-scan-label:before {
  content: "\f12f";
}
.mtphr-icon-scan-label-2:before {
  content: "\f130";
}
.mtphr-icon-expand-2:before {
  content: "\f131";
}
.mtphr-icon-collapse-2:before {
  content: "\f132";
}
.mtphr-icon-expand-3:before {
  content: "\f133";
}
.mtphr-icon-collapse-3:before {
  content: "\f134";
}
.mtphr-icon-target:before {
  content: "\f135";
}
.mtphr-icon-sheriff-badge:before {
  content: "\f136";
}
.mtphr-icon-sheriff-badge-2:before {
  content: "\f137";
}
.mtphr-icon-ticket:before {
  content: "\f138";
}
.mtphr-icon-ticket-2:before {
  content: "\f139";
}
.mtphr-icon-ticket-3:before {
  content: "\f13a";
}
.mtphr-icon-microphone-4:before {
  content: "\f13b";
}
.mtphr-icon-traffic-cone:before {
  content: "\f13c";
}
.mtphr-icon-traffic-sign-forbidden:before {
  content: "\f13d";
}
.mtphr-icon-stop:before {
  content: "\f13e";
}
.mtphr-icon-keyboard:before {
  content: "\f13f";
}
.mtphr-icon-keyboard-2:before {
  content: "\f140";
}
.mtphr-icon-radio:before {
  content: "\f141";
}
.mtphr-icon-print:before {
  content: "\f142";
}
.mtphr-icon-check-3:before {
  content: "\f143";
}
.mtphr-icon-error-3:before {
  content: "\f144";
}
.mtphr-icon-plus-2:before {
  content: "\f145";
}
.mtphr-icon-minus-2:before {
  content: "\f146";
}
.mtphr-icon-alert-3:before {
  content: "\f147";
}
.mtphr-icon-slideshow:before {
  content: "\f148";
}
.mtphr-icon-atom:before {
  content: "\f149";
}
.mtphr-icon-dropper:before {
  content: "\f14a";
}
.mtphr-icon-globe:before {
  content: "\f14b";
}
.mtphr-icon-globe-2:before {
  content: "\f14c";
}
.mtphr-icon-shipping:before {
  content: "\f14d";
}
.mtphr-icon-yin-yang:before {
  content: "\f14e";
}
.mtphr-icon-compass:before {
  content: "\f14f";
}
.mtphr-icon-zip:before {
  content: "\f150";
}
.mtphr-icon-zip-2:before {
  content: "\f151";
}
.mtphr-icon-anchor:before {
  content: "\f152";
}
.mtphr-icon-locked-heart:before {
  content: "\f153";
}
.mtphr-icon-magnet:before {
  content: "\f154";
}
.mtphr-icon-nautical-vessel:before {
  content: "\f155";
}
.mtphr-icon-tag-3:before {
  content: "\f156";
}
.mtphr-icon-like-plus:before {
  content: "\f157";
}
.mtphr-icon-like-minus:before {
  content: "\f158";
}
.mtphr-icon-usb:before {
  content: "\f159";
}
.mtphr-icon-clipboard:before {
  content: "\f15a";
}
.mtphr-icon-clipboard-2:before {
  content: "\f15b";
}
.mtphr-icon-clipboard-3:before {
  content: "\f15c";
}
.mtphr-icon-power:before {
  content: "\f15d";
}
.mtphr-icon-tools-4:before {
  content: "\f15e";
}

